.search-form{
    width: 100%;
    max-width: 680px;
}
.search-form-elem{
    padding: 1.4rem 2.8rem;
    border-radius: 5rem;
    position: relative;
    height: 60px;
}
.search-form-elem .form-control{
    height: 100%;
    font-size: 2rem;
    margin: 0px;
    border: none;
    
    /* position:absolute; */
    /* right: 10px; */
    /* padding: 0.5rem; */
}
.search-form-elem .form-control::-moz-placeholder{
    opacity: 1;
}

.flex-c{
    background-color: transparent;
}

.search-icon{
    color: black;
    

}